* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    color: #404042;
    font-size: 18px;
}

h1, h2, h3 {
    font-family: 'Chivo', sans-serif;
}

a {
    text-decoration: none;
    color: #1a48e3;
    font-weight: bold;
}


p {
    color: #404042;
    opacity: 0.7;
}

.container {
    width: 800px;
    margin: auto;
}

/* banner */
    .banner {
        background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(https://i.ibb.co/QcXGSnh/background.jpg);
        background-size: cover;
        background-position: center;
        padding: 150px 0;
        text-align: center;
    }

    .banner h1 {
        margin: 0;
        color: whitesmoke;
        font-size: 45px;
    }

    .banner p {
        color: #999;
        font-size: 24px;
    }

    .banner a {
        padding: 20px 40px;
        display: inline-block;
        font-size: 20px;
        border: 1px solid gray;
        background: #1A48E3;
        color: whitesmoke;
    }

    a:hover {
        background-color: #0D1EC6;
        color: #ce2fae;
        transition: .3s;
    }
/* end banner */

/* campuses */
.campuses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
}

.card {
    margin: 8px;
    /* padding: 24px; */
    width: 200px;
    background: white;
    box-shadow: 0 0 16px rgba(0,0,0,0.1);
    border-radius: 4px;
    text-align: center;
}

.card img {
    width: 180px;
    height: 180px;
    margin: 10px;
    object-fit: cover;
    border-radius: 4px;
}

.card h3 {
    margin-bottom: 0;
}

/* end campuses */

/* footer */
footer {
    background: #404042;
    text-align: center;
    padding: 24px 0;
}

footer p {
    color: white;
}
/* end footer */

/* responsive */

@media (max-width: 800px) {
    .campuses {
        grid-template-columns: 1fr;
    }

    .card {
        width: auto;
    }
}

@media (min-width: 500px) {
    .container {
        width: 400px;
    }
}

@media (min-width: 800px) {
    .container {
        width: 600px;
    }
}

@media (min-width: 1000px) {
    .container {
        width: 800px;
    }
}

/* end responsive */